---
import Layout from '../components/Layout.astro'
import Header from '../components/Header.astro'
import RuleCard from '../components/RuleCard.astro'
import { plugins, myRulesByPlugin } from '../plugins'
---

<Layout title='Unused rules'>
  <Header current='../unusedRules/index.html' />
  <main class='p-3'>
    {
      plugins
        .sort((a, b) => a.packageName.localeCompare(b.packageName))
        .map(({ packageName, docsLinkBuilder, rules }) => {
          const plugin = myRulesByPlugin.find(
            v => v.packageName === packageName
          )
          if (!plugin) {
            throw new Error(`Can't find plugin with name ${packageName}`)
          }
          const pluginRules = Object.keys(plugin.rules)
          const names = Object.keys(rules).filter(
            ruleName => !pluginRules.includes(ruleName)
          )
          return (
            <section aria-label={`${packageName} section`}>
              <h2>{packageName}</h2>
              {names.length > 0 ? (
                <div>
                  <ol>
                    {names.map(ruleName => {
                      return (
                        <li>
                          <RuleCard
                            href={docsLinkBuilder(ruleName)}
                            level={rules[ruleName]![0]}
                            name={ruleName}
                          />
                        </li>
                      )
                    })}
                  </ol>
                </div>
              ) : null}
            </section>
          )
        })
    }
  </main>
</Layout>
